defaults: &shareimage
  docker:
    - image: circleci/node:13.8.0
# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    <<: *shareimage
    steps:
      - checkout
      - run: npm i
      - run: npm run lint
  test:
    <<: *shareimage
    steps:
      - checkout
      - run: npm i
      - run: npm run test

  analyze:
    <<: *shareimage
    steps:
      - checkout
      - run: npm i
      - run: npm audit
workflows:
  welcome:
    jobs:
      - build
      - test:
          requires:
            - build
      - analyze:
          requires:
            - test
